* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "LR";
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px; }

.company,
.social-media,
.contact,
.footer-nav {
  width: 240px; }
  @media screen and (max-width: 980px) {
    .company,
    .social-media,
    .contact,
    .footer-nav {
      margin-bottom: 20px; } }

@font-face {
  font-family: 'LL';
  src: url("../fonts/Lato-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'LR';
  src: url("../fonts/Lato-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'LB';
  src: url("../fonts/Lato-Black.ttf") format("truetype"); }
@font-face {
  font-family: 'social';
  src: url("../fonts/SocialType.ttf") format("truetype"); }
.page-title {
  -webkit-box-flex: 1.25;
      -ms-flex: 1.25;
          flex: 1.25;
  margin-right: 15px; }

.page-header {
  font-size: 5em;
  color: #ffffff;
  line-height: .85;
  text-shadow: #2b2b2b 1px 3px 0; }
  @media screen and (max-width: 980px) {
    .page-header {
      font-size: 4.5em; } }
  @media screen and (max-width: 720px) {
    .page-header {
      font-size: 4em; } }
  @media screen and (max-width: 540px) {
    .page-header {
      font-size: 3em; } }
  @media screen and (max-width: 360px) {
    .page-header {
      font-size: 2.7em; } }

.page-desc {
  margin-left: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden; }
  .page-desc p {
    font-family: 'LL';
    font-size: 1.25em;
    text-align: justify;
    color: #ffffff;
    margin-bottom: 12px; }
    @media screen and (max-width: 980px) {
      .page-desc p {
        font-size: 1.1em; } }
    @media screen and (max-width: 720px) {
      .page-desc p {
        margin-top: 20px;
        margin-left: 120px; } }
    @media screen and (max-width: 540px) {
      .page-desc p {
        font-size: 1em;
        margin-left: 75px;
        font-family: 'LR'; } }
    @media screen and (max-width: 360px) {
      .page-desc p {
        font-size: .9em; } }

.exceptional {
  position: relative; }
  .exceptional:after {
    position: absolute;
    content: 'WE ARE EXCEPTIONAL BUSTERS';
    top: -4px;
    left: -6px;
    font-size: 1.01em;
    color: #15c191;
    opacity: .85;
    z-index: -1; }
    @media screen and (max-width: 540px) {
      .exceptional:after {
        top: -3px;
        left: -4px; } }

.section-title {
  font-size: 1.75em;
  color: #2b2b2b;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 2px; }
  @media screen and (max-width: 720px) {
    .section-title {
      text-align: center; } }

.section-text {
  line-height: 1.5;
  font-family: 'LL';
  letter-spacing: 1px;
  word-spacing: 5px;
  font-size: 1.25em;
  text-align: justify;
  margin-bottom: 20px; }
  .section-text + p {
    margin-top: 34px; }
  @media screen and (max-width: 540px) {
    .section-text {
      font-size: 1.1em; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin: 30px 0; }

.logo {
  height: 68px;
  width: 25%; }
  .logo a {
    line-height: 68px;
    display: block; }
    .logo a img {
      height: 68px; }
      @media screen and (max-width: 360px) {
        .logo a img {
          height: 50px; } }

.navigation {
  max-width: 75%;
  line-height: 68px; }
  @media screen and (max-width: 720px) {
    .navigation {
      display: none; } }
  .navigation__list {
    font-size: .875em;
    list-style-type: none; }
  .navigation__item {
    display: inline-block;
    margin: 0 13px;
    text-transform: uppercase;
    position: relative; }
    .navigation__item:not(:last-child):after {
      position: absolute;
      content: '';
      right: -20px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 10px;
      border-bottom: 1.9px solid #ffffff; }
    .navigation__item a {
      color: #ffffff;
      text-decoration: none;
      position: relative;
      padding: 15px 0;
      -webkit-transition: .3s all;
      transition: .3s all; }
      .navigation__item a:before {
        position: absolute;
        content: '';
        left: 50%;
        bottom: 5px;
        height: 2px;
        width: 2px;
        background: #fff;
        -webkit-transform: scaleX(1) translateX(-50%);
                transform: scaleX(1) translateX(-50%);
        -webkit-transition: .3s all;
        transition: .3s all; }
      .navigation__item a:hover:before {
        left: 50%;
        -webkit-transform: scaleX(1) translateX(-50%);
                transform: scaleX(1) translateX(-50%);
        -webkit-transition: .3s width;
        transition: .3s width;
        width: 100%; }
  .navigation__mobile {
    display: none; }
    @media screen and (max-width: 720px) {
      .navigation__mobile {
        display: block; } }
    .navigation__mobile .nav {
      display: block;
      height: 100vh;
      width: 0;
      position: fixed;
      top: 0;
      right: -200px;
      z-index: 998;
      opacity: 0;
      -webkit-transition: all .5s;
      transition: all .5s;
      max-height: 100vh; }
      .navigation__mobile .nav__list {
        list-style: none;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      .navigation__mobile .nav__item {
        margin: 10px 0; }
      .navigation__mobile .nav__link {
        padding: 15px 35px;
        display: block;
        font-size: 1.5em;
        text-decoration: none;
        color: #ffffff; }
        .navigation__mobile .nav__link:hover {
          background: #ffffff;
          color: #15c191; }
  .navigation__checkbox {
    display: none; }
    .navigation__checkbox:checked ~ .nav {
      display: block;
      right: 0;
      width: 100%;
      opacity: 1; }
    .navigation__checkbox:checked ~ .navigation__background {
      -webkit-transform: scale(80);
              transform: scale(80); }
    .navigation__checkbox:checked ~ .navigation__hamburger .navigation__icon--bars {
      display: none; }
    .navigation__checkbox:checked ~ .navigation__hamburger .navigation__icon--x {
      display: block; }
  .navigation__icon {
    display: block;
    font-size: 1.5em;
    font-weight: bold; }
    .navigation__icon--bars {
      display: block; }
    .navigation__icon--x {
      display: none; }
  .navigation__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 35px;
    right: 20px;
    z-index: 999;
    border-radius: 50%;
    background: #ffffff; }
  .navigation__background {
    background: -webkit-gradient(linear, left top, left bottom, from(#0d9b7a), color-stop(50%, #08bd62), to(#0d9b7a));
    background: linear-gradient(to bottom, #0d9b7a 0%, #08bd62 50%, #0d9b7a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 50%;
    position: fixed;
    top: 40px;
    right: 26px;
    width: 40px;
    height: 40px;
    z-index: 997;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out; }

.hero {
  background-image: url("../images/bg.png");
  margin-bottom: 35px;
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: fixed;
  height: 712px;
  overflow: hidden; }
  @media screen and (max-width: 1400px) {
    .hero {
      background-position-x: 150px; } }
  @media screen and (max-width: 980px) {
    .hero {
      background-attachment: local;
      background-position-x: -150px; } }
  @media screen and (max-width: 720px) {
    .hero {
      margin-bottom: 10px; } }
  @media screen and (max-width: 360px) {
    .hero {
      height: 620px; } }
  .hero__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    line-height: 1.5;
    width: 80%; }
    @media screen and (max-width: 980px) {
      .hero__wrapper {
        width: 100%; } }
    @media screen and (max-width: 720px) {
      .hero__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        width: 90%;
        margin-top: 80px; } }
    @media screen and (max-width: 540px) {
      .hero__wrapper {
        margin-top: 60px; } }
    @media screen and (max-width: 360px) {
      .hero__wrapper {
        margin-top: 30px; } }

.scroll-down {
  text-align: center; }
  @media screen and (max-width: 720px) {
    .scroll-down {
      display: none; } }
  .scroll-down a {
    background: url("../images/svg/arrow.svg") no-repeat center;
    width: 40px;
    height: 40px;
    display: inline-block; }

.project {
  padding: 80px 0;
  margin: 50px 0;
  margin-bottom: 100px; }
  @media screen and (max-width: 720px) {
    .project {
      margin: 20px 0;
      padding: 50px 0; } }
  .project__logo {
    height: 350px;
    margin-right: 20px; }
    @media screen and (max-width: 720px) {
      .project__logo {
        height: 275px;
        margin-bottom: 50px; } }
    @media screen and (max-width: 360px) {
      .project__logo {
        height: 200px; } }
  .project__info {
    width: 55%; }
    @media screen and (max-width: 720px) {
      .project__info {
        width: 100%; } }
  .project__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 720px) {
      .project__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column; } }
  .project__list {
    font-family: 'LL';
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 1.25em; }

.about {
  padding: 80px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d9b7a+0,08bd62+50,0d9b7a+100 */
  background: #0d9b7a;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#0d9b7a), color-stop(50%, #08bd62), to(#0d9b7a));
  background: linear-gradient(to bottom, #0d9b7a 0%, #08bd62 50%, #0d9b7a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d9b7a', endColorstr='#0d9b7a',GradientType=0 );
  /* IE6-9 */ }
  @media screen and (max-width: 980px) {
    .about {
      margin-bottom: 0; } }
  .about .section-title {
    padding-bottom: 20px;
    color: #fff;
    text-align: center; }
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .about__item {
    text-align: center;
    max-width: 360px;
    margin-bottom: 50px;
    color: #ffffff;
    word-spacing: 1.5px;
    letter-spacing: 1px;
    font-family: 'LL'; }
  .about__image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 175px;
    width: 175px;
    border-radius: 100%;
    border: 5px solid #fff;
    overflow: hidden;
    margin: 0 auto; }
  .about__image {
    width: 175px; }
  .about__name {
    font-size: 1.125em;
    padding-top: 20px;
    padding-bottom: 2px;
    font-weight: lighter; }
  .about__position {
    font-size: .8em;
    padding-bottom: 22px;
    position: relative;
    font-family: 'LB'; }
    .about__position:after {
      position: absolute;
      content: '';
      border-bottom: 1.9px solid #fff;
      left: 50%;
      bottom: 10px;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 50px; }
  .about__me {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }

.reports {
  padding: 80px 0;
  text-align: center; }
  @media screen and (max-width: 980px) {
    .reports {
      margin-top: 70px; } }
  .reports__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: column;
        flex-flow: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media screen and (max-width: 980px) {
      .reports__wrapper {
        margin-top: 50px; } }
  .reports__item {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 25px; }
    .reports__item--right {
      -ms-flex-item-align: end;
          align-self: flex-end; }
    .reports__item:nth-child(even) {
      -ms-flex-item-align: end;
          align-self: flex-end; }
    @media screen and (max-width: 980px) {
      .reports__item {
        width: 70%; } }
    @media screen and (max-width: 720px) {
      .reports__item {
        width: 80%; } }
    @media screen and (max-width: 540px) {
      .reports__item {
        width: 100%; } }
  .reports__date {
    display: block;
    position: relative;
    font-size: 7em;
    font-family: 'LR';
    color: rgba(0, 0, 0, 0.35); }
    .reports__date:before {
      position: absolute;
      content: '';
      width: 100%;
      left: 0;
      bottom: 43px;
      background: #fff;
      border-bottom: 3px solid #15c191; }
    .reports__date:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 20px;
      left: 0;
      bottom: 23px;
      background: #fff; }
    @media screen and (max-width: 1150px) {
      .reports__date {
        font-size: 6em; }
        .reports__date:before {
          bottom: 37px; }
        .reports__date:after {
          bottom: 17px; } }
    @media screen and (max-width: 720px) {
      .reports__date {
        font-size: 5em; }
        .reports__date:before {
          bottom: 30px; }
        .reports__date:after {
          bottom: 10px; } }
    @media screen and (max-width: 540px) {
      .reports__date {
        font-size: 4em; }
        .reports__date:before {
          bottom: 20px; }
        .reports__date:after {
          bottom: 0px; } }
    @media screen and (max-width: 360px) {
      .reports__date {
        font-size: 3.5em; } }
  .reports__info {
    font-family: 'LL';
    position: relative;
    top: -20px;
    left: 0;
    padding: 0 10px; }
    @media screen and (max-width: 540px) {
      .reports__info {
        top: -10px; } }
  .reports__header {
    font-family: 'LB';
    font-size: 1.4em;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px; }
  .reports__content {
    margin-top: 20px;
    font-size: 1.25em;
    text-align: justify; }
  .reports__list {
    list-style-type: none;
    text-align: left;
    font-size: 1.25em; }
    .reports__list--project {
      margin-top: -14px; }
  .reports__element {
    position: relative;
    padding-left: 15px; }
    .reports__element--project {
      font-family: 'LL';
      letter-spacing: 1px;
      margin-bottom: 10px;
      word-spacing: 5px; }
    .reports__element:before {
      position: absolute;
      content: '';
      left: 0;
      top: 11px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #15c191; }

.footer {
  background: url("../images/footer_bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height: 381px;
  color: #ffffff; }
  @media screen and (max-width: 980px) {
    .footer {
      background: #0d9b7a;
      /* Old browsers */
      /* FF3.6-15 */
      /* Chrome10-25,Safari5.1-6 */
      background: -webkit-gradient(linear, left top, left bottom, from(#0d9b7a), color-stop(30%, #08bd62), color-stop(50%, #08bd62), color-stop(70%, #08bd62), to(#0d9b7a));
      background: linear-gradient(to bottom, #0d9b7a 0%, #08bd62 30%, #08bd62 50%, #08bd62 70%, #0d9b7a 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d9b7a', endColorstr='#0d9b7a',GradientType=0 );
      /* IE6-9 */ } }
  .footer__wrapper {
    padding-top: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media screen and (max-width: 980px) {
      .footer__wrapper {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding-top: 50px; } }
  .footer__svg {
    width: 100%;
    margin-bottom: 15px; }
  .footer .section-text {
    font-size: .875em;
    font-weight: lighter; }
  .footer__nav {
    margin-top: 8px; }
  .footer__list {
    list-style: none; }
    .footer__list-item {
      text-transform: uppercase; }
    .footer__list-link {
      position: relative;
      color: #ffffff;
      text-decoration: none;
      line-height: 1.125em;
      font-size: .8125em;
      letter-spacing: 1.5px; }
      .footer__list-link:hover {
        color: #2b2b2b;
        font-weight: bold; }
  .footer .social {
    margin-top: 5px;
    font-family: 'social'; }
    .footer .social__list {
      list-style: none; }
    .footer .social__item {
      display: inline-block;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: .5s transform;
      transition: .5s transform; }
      .footer .social__item:hover {
        -webkit-transition: .5s transform;
        transition: .5s transform;
        -webkit-transform: rotate(20deg);
                transform: rotate(20deg); }
        .footer .social__item:hover .social__link {
          color: #2b2b2b; }
    .footer .social__link {
      font-size: 3.125em;
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none; }
  .footer__header {
    font-size: .875em;
    position: relative;
    font-family: 'LB';
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding-bottom: 8px; }
    .footer__header:before {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      border-bottom: 2px solid #ffffff;
      width: 50px; }
  .footer__copyright {
    font-size: .6875em;
    text-align: center;
    padding-bottom: 15px;
    letter-spacing: 1.3px; }

.contact-wrapper {
  margin-top: 8px;
  text-transform: uppercase;
  font-size: .8125em;
  font-weight: lighter;
  line-height: 1.5; }

.btn {
  padding: 10px;
  border: none;
  font-size: .875em;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer; }
  @media screen and (max-width: 540px) {
    .btn {
      padding: 8px;
      font-size: .75em; } }
  @media screen and (max-width: 360px) {
    .btn {
      padding: 7px;
      font-size: .65em; } }
  .btn--success {
    color: #06c364;
    background: #ffffff; }
  .btn--right {
    float: right; }
  .btn--scroll {
    font-size: 1.5em;
    padding: 7px 17px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    .btn--scroll:hover {
      color: #fff;
      background: #06c364;
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }

.scroll-wrapper {
  position: fixed;
  right: -50px;
  bottom: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  outline: none;
  -webkit-transition: .3s all;
  transition: .3s all; }

/*# sourceMappingURL=main.css.map */