* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato';
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px; }

.company,
.social-media,
.contact,
.footer-nav {
  width: 250px;
  margin-bottom: 20px; }

.footer-nav {
  margin-left: 80px; }

.page-title {
  flex: 1.25;
  margin-right: 15px; }

.page-header {
  font-size: 5em;
  color: #ffffff;
  line-height: .85;
  text-shadow: #2b2b2b 1px 3px 0; }

.exceptional {
  position: relative; }
  .exceptional:after {
    position: absolute;
    content: 'WE ARE EXCEPTIONAL BUSTERS';
    top: -4px;
    left: -6px;
    font-size: 1.01em;
    color: #15c191;
    opacity: .85;
    z-index: -1; }

.page-desc {
  margin-left: 15px;
  flex: 1;
  overflow: hidden; }
  .page-desc p {
    font-weight: lighter;
    font-size: 1.25em;
    text-align: justify;
    color: #ffffff;
    margin-bottom: 12px; }

.section-title {
  font-size: 1.75em;
  color: #2b2b2b;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 2px; }

.section-text {
  line-height: 1.5;
  font-size: 1.25em;
  text-align: justify;
  margin-bottom: 20px; }
  .section-text + p {
    margin-top: 34px; }

.footer__header {
  font-size: .875em;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-bottom: 8px; }
  .footer__header:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 2px solid #ffffff;
    width: 50px; }

.header {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  margin: 30px 0; }

.logo {
  width: 25%;
  background: url("../images/svg/logo.svg") no-repeat;
  font-weight: bold;
  text-indent: -99999px;
  height: 68px; }
  .logo a {
    line-height: 68px;
    display: block; }

.navigation {
  max-width: 75%;
  line-height: 68px; }
  .navigation__list {
    font-size: .875em;
    list-style-type: none; }
  .navigation__item {
    display: inline-block;
    margin: 0 13px;
    text-transform: uppercase;
    position: relative; }
    .navigation__item:not(:last-child):after {
      position: absolute;
      content: '';
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      border-bottom: 1.9px solid #ffffff; }
    .navigation__item a {
      color: #ffffff;
      text-decoration: none;
      position: relative;
      padding: 15px 0;
      transition: .3s all; }
      .navigation__item a:before {
        position: absolute;
        content: '';
        left: 47%;
        bottom: 7px;
        height: 1px;
        width: 1px;
        background: #fff;
        transform: scaleX(0.1) translateX(-50%);
        transition: .3s all; }
      .navigation__item a:hover:before {
        left: 50%;
        transform: scaleX(1) translateX(-50%);
        transition: .3s width;
        width: 100%; }
      .navigation__item a:hover:after {
        position: absolute;
        content: '';
        left: 50%;
        transition: .3s all;
        transform: translateX(-50%);
        bottom: 5px;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background: #ffffff; }

.hero {
  background-image: url("../images/bg.png");
  margin-bottom: 35px;
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: fixed;
  height: 712px;
  overflow: hidden; }
  .hero__wrapper {
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-top: 100px;
    flex-flow: row;
    line-height: 1.5;
    width: 80%; }

.scroll-down {
  text-align: center; }
  .scroll-down a {
    background: url("../images/svg/arrow.svg") no-repeat center;
    width: 40px;
    height: 40px;
    display: inline-block; }

.project {
  padding: 150px 0;
  margin: 50px 0; }
  .project__logo {
    height: 500px; }
  .project__info {
    width: 55%; }
  .project__wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    align-items: center; }

.about {
  margin-bottom: 200px;
  padding: 60px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d9b7a+0,08bd62+50,0d9b7a+100 */
  background: #0d9b7a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0d9b7a 0%, #08bd62 50%, #0d9b7a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0d9b7a 0%, #08bd62 50%, #0d9b7a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0d9b7a 0%, #08bd62 50%, #0d9b7a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d9b7a', endColorstr='#0d9b7a',GradientType=0 );
  /* IE6-9 */ }
  .about .section-title {
    padding-bottom: 20px;
    color: #fff;
    text-align: center; }
  .about__wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: wrap; }
  .about__item {
    text-align: center;
    max-width: 310px;
    margin-bottom: 50px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .about__image-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 175px;
    width: 175px;
    border-radius: 100%;
    border: 5px solid #fff;
    overflow: hidden;
    margin: 0 auto; }
  .about__image {
    width: 175px; }
  .about__name {
    font-size: 1.125em;
    padding-top: 20px;
    font-weight: lighter;
    padding-bottom: 2px; }
  .about__position {
    font-weight: bold;
    font-size: .875em;
    padding-bottom: 22px;
    position: relative; }
    .about__position:after {
      position: absolute;
      content: '';
      border-bottom: 1.9px solid #fff;
      left: 50%;
      bottom: 10px;
      transform: translateX(-50%);
      width: 50px; }
  .about__me {
    font-weight: lighter;
    text-align: justify; }

.reports {
  padding: 150px 0;
  margin: 50px 0; }

.footer {
  background-image: url("../images/footer_bg.png");
  min-height: 381px;
  background-repeat: no-repeat;
  background-position: bottom center;
  color: #ffffff; }
  .footer__wrapper {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; }
  .footer__svg {
    width: 100%;
    margin-bottom: 15px; }
  .footer .section-text {
    font-size: .875em;
    font-weight: lighter; }
  .footer__nav {
    margin-top: 8px; }
  .footer__list {
    list-style: none; }
    .footer__list-item {
      text-transform: uppercase; }
    .footer__list-link {
      position: relative;
      color: #ffffff;
      text-decoration: none;
      line-height: 1.125em;
      font-size: .8125em;
      letter-spacing: 1.5px; }
      .footer__list-link:hover {
        color: #2b2b2b;
        font-weight: bold; }
  .footer .social {
    margin-top: 5px;
    font-family: 'socialtype'; }
    .footer .social__list {
      list-style: none; }
    .footer .social__item {
      display: inline-block;
      transform: rotate(0deg);
      transition: .5s transform; }
      .footer .social__item:hover {
        transition: .5s transform;
        transform: rotate(20deg); }
        .footer .social__item:hover .social__link {
          color: #2b2b2b; }
    .footer .social__link {
      font-size: 3.125em;
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none; }

.contact-wrapper {
  margin-top: 8px;
  text-transform: uppercase;
  font-size: .8125em;
  font-weight: lighter;
  line-height: 1.125em; }

.btn {
  padding: 10px;
  border: none;
  font-size: .875em;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer; }
  .btn-success {
    color: #06c364;
    background: #ffffff; }
  .btn-right {
    float: right; }

.scroll-wrapper {
  position: fixed;
  display: flex;
  align-content: center;
  align-items: center;
  right: 40px;
  bottom: 40px;
  background: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 3px solid #2b2b2b; }
  .scroll-wrapper a {
    display: block;
    position: relative;
    width: inherit;
    height: inherit;
    left: 26px;
    text-decoration: none;
    transform: rotate(90deg);
    font-size: 4em;
    color: #2b2b2b;
    text-align: center; }
  .scroll-wrapper span {
    display: flex;
    align-items: center;
    font-weight: bold; }

/*# sourceMappingURL=main.css.map */
