.footer {
  background: url("../images/footer_bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height:381px;
  color:$textPrimaryColor;
  @media #{$max980} {
    background: #0d9b7a; /* Old browsers */
    background: -moz-linear-gradient(top, #0d9b7a 0%,#08bd62 30%, #08bd62 50%, #08bd62 70%, #0d9b7a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0d9b7a 0%,#08bd62 30%, #08bd62 50%, #08bd62 70%, #0d9b7a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0d9b7a 0%,#08bd62 30%, #08bd62 50%, #08bd62 70%, #0d9b7a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d9b7a', endColorstr='#0d9b7a',GradientType=0 ); /* IE6-9 */
  }
  &__wrapper {
    padding-top:140px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    @media #{$max980} {
      justify-content: space-around;
      padding-top: 50px;
    }
  }
  &__svg {
    width:100%;
    margin-bottom:15px;
  }
  .section-text {
    font-size:.875em;
    font-weight:lighter;
  }
  &__nav {
    margin-top:8px;
  }
  &__list {
    list-style: none;
    &-item {
      text-transform: uppercase;
    }
    &-link {
      position: relative;
      color:$navColor;
      text-decoration: none;
      line-height: 1.125em;
      font-size:.8125em;
      letter-spacing: 1.5px;
      &:hover {
        color: $sectionHeaderColor;
        font-weight: bold;
      }
    }
  }
  .social {
    margin-top:5px;
    font-family: 'social';
    &__list {
      list-style: none;
    }
    &__item {
      display:inline-block;
      transform: rotate(0deg);
      transition: .5s transform;
      &:hover {
        transition: .5s transform;
        transform: rotate(20deg);
        .social__link {
          color: $sectionHeaderColor;
        }
      }
    }
    &__link {
      font-size:3.125em;
      color:$navColor;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
  &__header {
    font-size:.875em;
    position: relative;
    font-family: 'LB';
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding-bottom: 8px;
    &:before {
      position: absolute;
      content: '';
      left:0;
      bottom:0;
      border-bottom:2px solid $navColor;
      width:50px;
    }
  }
  &__copyright {
    font-size: .6875em;
    text-align: center;
    padding-bottom:15px;
    letter-spacing: 1.3px;
  }
}

.contact-wrapper {
  margin-top:8px;
  text-transform: uppercase;
  font-size: .8125em;
  font-weight:lighter;
  line-height: 1.5;
}
