.header {
  display:flex;
  justify-content: space-between;
  flex-flow: row;
  margin:30px 0;
}

.logo {
  height:68px;
  width:25%;
  a {
    line-height: 68px;
    display:block;
    img {
      height:68px;
      @media #{$max360} {
        height:50px;
      }
    }
  }
}
