.hero {
  background-image: url("../images/bg.png");
  margin-bottom:35px;
  background-repeat: no-repeat;
  background-position: top right; // do zmiany img
  background-attachment: fixed; //parallax effect
  height:712px;
  overflow:hidden;
  @media #{$max1400} {
    background-position-x: 150px;
  }
  @media #{$max980} {
    background-attachment: local;
    background-position-x:-150px;
  }
  @media #{$max720} {
    margin-bottom:10px;
  }
  @media #{$max360} {
    height:620px;
  }
  &__wrapper {
    display:flex;
    margin:0 auto;
    align-items: center;
    margin-top:100px;
    flex-flow: row;
    line-height: 1.5;
    width:80%;
    @media #{$max980} {
      width:100%;
    }
    @media #{$max720} {
      flex-flow:column;
      width:90%;
      margin-top:80px;
    }
    @media #{$max540} {
      margin-top:60px;
    }
    @media #{$max360} {
      margin-top:30px;
    }
  }
}
