.project {
  padding:150px 0;
  margin:50px 0;
  @media #{$max720} {
    margin:20px 0;
    padding:50px 0;
  }
  &__logo {
    height:500px;
    @media #{$max720} {
      height:150px;
      margin-bottom:50px;
    }
    @media #{$max360} {
      height:100px;
    }
  }
  &__info {
    width:55%;
    @media #{$max720} {
      width:100%;
    }
  }
  &__wrapper {
    display:flex;
    justify-content: space-between;
    flex-flow: row;
    align-items: center;
    @media #{$max720} {
      flex-flow: column;
    }
  }
  &__list {
    font-family:'LL';
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 1.25em;
  }
}
