.reports {
  margin-bottom:70px;
  text-align: center;
  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: wrap;
  }
  &__item {
    align-self: flex-start;
    width:50%;
    flex-direction: column;
    margin-bottom:25px;
    &--right {
      align-self: flex-end;
    }
  }
  &__date {
    display: block;
    position: relative;
    font-size:7em;
    font-family:'LR';
    color:rgba(0,0,0,.35);
    &:before {
      position: absolute;
      content: '';
      width:100%;
      left:0;
      bottom:43px;
      background:#fff;
      border-bottom:3px solid $btnMoreBgColor;
    }
    &:after {
      position: absolute;
      content: '';
      width:100%;
      height:20px;
      left:0;
      bottom:23px;
      background:#fff;
    }
  }
  &__info {
    font-family:'LL';
    position: relative;
    top:-20px;
    left:0;
    padding:0 10px;
  }
  &__header {
    font-family:'LB';
    font-size:1.4em;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
  }
  &__content {
    margin-top:20px;
    font-size:1.25em;
    text-align: justify;
  }
  &__list {
    list-style-type: none;
    text-align: left;
    font-size:1.25em;
    &--project {
      margin-top:-14px;
    }
  }
  &__element {
    position: relative;
    padding-left:15px;
    &--project {
      font-family: 'LL';
      letter-spacing: 1px;
      margin-bottom:10px;
      word-spacing: 5px;
    }
    &:before {
      position: absolute;
      content:'';
      left:0;
      top:11px;
      width:8px;
      height:8px;
      border-radius: 50%;
      background:$btnMoreBgColor;
    }
  }
}
