* {
  margin: 0;
  padding:0;
}

body {
  font-family: 'Lato';
  box-sizing: border-box;
}

.container {
  max-width:1200px;
  margin:0 auto;
  padding:0 5px;
}

.company,
.social-media,
.contact,
.footer-nav {
  width:250px;
  margin-bottom:20px;
}

.footer-nav {
  margin-left:80px; //tmp
}
