* {
  margin: 0;
  padding:0;
}

body {
  font-family: 'Lato';
  box-sizing: border-box;
}

.container {
  max-width:1200px;
  margin:0 auto;
  padding:0 10px;
}

.company,
.social-media,
.contact,
.footer-nav {
  width:240px;
  @media #{$max980} {
    margin-bottom:20px;
  }
}
