@font-face {
  font-family: 'LL';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'LR';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LB';
  src: url('../fonts/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'social';
  src: url('../fonts/SocialType.ttf') format('truetype');
}

.page-title {
  flex:1.25;
  margin-right:15px;
}

.page-header {
  font-size: 5em;
  color:$textPrimaryColor;
  line-height: .85;
  text-shadow: $sectionHeaderColor 1px 3px 0;
  @media #{$max980} {
    font-size:4.5em;
  }
  @media #{$max720} {
    font-size:4em;
  }
  @media #{$max540} {
    font-size:3em;
  }
  @media #{$max360} {
    font-size: 2.7em;
  }
}

.page-desc {
  margin-left:15px;
  flex:1;
  overflow:hidden;
  p {
    font-family: 'LL';
    font-size:1.25em;
    text-align: justify;
    color:$pageIntroColor;
    margin-bottom:12px;
    @media #{$max980} {
      font-size:1.1em;
    }
    @media #{$max720} {
      margin-top:20px;
      margin-left:120px;
    }
    @media #{$max540} {
      font-size:1em;
      margin-left: 75px;
      font-family: 'LR';
    }
    @media #{$max360} {
      font-size: .9em;
    }
  }
}

.exceptional {
  position: relative;
  &:after {
    position: absolute;
    content:'WE ARE EXCEPTIONAL BUSTERS';
    top:-4px;
    left:-6px;
    font-size: 1.01em;
    color:$btnMoreBgColor;
    opacity: .85;
    z-index: -1;
    @media #{$max540} {
      top:-3px;
      left:-4px;
    }
  }
}

.section-title {
  font-size: 1.75em;
  color:$sectionHeaderColor;
  text-transform: uppercase;
  margin-bottom:30px;
  letter-spacing: 2px;
  @media #{$max720} {
    text-align: center;
  }
}

.section-text {
  line-height: 1.5;
  font-family:'LL';
  letter-spacing: 1px;
  word-spacing: 5px;
  font-size: 1.25em;
  text-align: justify;
  margin-bottom:20px;
  & + p {
    margin-top:34px;
  }
  @media #{$max540} {
    font-size:1.1em;
  }
}
