.btn {
  padding:10px;
  border:none;
  font-size:.875em;
  text-transform: uppercase;
  border-radius: $radius;
  font-weight:bold;
  cursor: pointer;
  @media #{$max540} {
    padding:8px;
    font-size:.75em;
  }
  @media #{$max360} {
    padding:7px;
    font-size:.65em;
  }
  &-success {
    color:$heroBtnColor;
    background:#ffffff;
  }
  &-right {
    float:right;
  }
}
