.btn {
  padding:10px;
  border:none;
  font-size:.875em;
  text-transform: uppercase;
  border-radius: $radius;
  font-weight:bold;
  cursor: pointer;
  @media #{$max540} {
    padding:8px;
    font-size:.75em;
  }
  @media #{$max360} {
    padding:7px;
    font-size:.65em;
  }
  &--success {
    color:$heroBtnColor;
    background:#ffffff;
  }
  &--right {
    float:right;
  }
  &--scroll {
    font-size:1.5em;
    padding:7px 17px;
    transform:rotate(0deg);
    transition: .3s ease-in-out;
    &:hover {
      color:#fff;
      background:$heroBtnColor;
      transform:rotate(360deg);
      transition: .3s ease-in-out;
    }
  }
}
