$radius: 10px;

//bg colors
$heroBtnColor: #06c364;
$btnMoreBgColor: #15c191;
$btnDarkBgColor: #2b2b2b;

//text colors
$sectionHeaderColor: #2b2b2b;
$textPrimaryColor: #ffffff;
$navColor: #ffffff;
$btnMoreTxtColor: #ffffff;
$pageIntroColor: #ffffff;

//responsive
$max1400: "screen and (max-width: 1400px)";
$max1150: "screen and (max-width: 1150px)";
$max980: "screen and (max-width: 980px)";
$max850: "screen and (max-width: 850px)";
$max720: "screen and (max-width: 720px)";
$max540: "screen and (max-width: 540px)";
$max360: "screen and (max-width: 360px)";
